Thumbs.db
vendor/
secrets/
users.json
storage/storage_operations.log
generate_env_secrets.php
html/user_permissions.json
user_permissions_backup.json
ancestry_data_backup/geocache.json
ancestry_data_backup/people_overlay.json
ancestry_data_backup/pre_geocoded.json
html/permissions.json
html/apps/ancestry/data
logs/
html/json/analytics_daily.json
html/json/analytics_daily.json
.env
adc_credentials.json
new-service-key.json
oauth_config_backup.json
permissions_backup.json
recipes_backup.json
users_cloud.json
storage/permissions.json
storage/recipes - Copy.json
storage/recipes.json
storage/user_permissions.json
storage/ancestry_data_backup/geocache.json
storage/ancestry_data_backup/people_edits.log
storage/ancestry_data_backup/people_overlay.json
storage/ancestry_data_backup/pre_geocoded.json
storage/ancestry_data_backup/tmp_gedcom.json
storage/research/*.json
storage/research/tasks/*.json
storage/messages
/storage/backups/*
/html/db

logs/
logs/app.log
html/apps/researcher/tasks
html/json/analytics_visits.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.phpunit.result.cache


docker-dev.code-workspace
